a {
    color: #9EB2EB;
}

li div img {
    width: 24px;
    height: 24px;
}

.mb-release-notification-box {
    background: #1C1B1F;
}

.mb-text {
    color: white;
}

.mb-box-header-content {
    background: #282A32;
}

.mb-card-text-body {
    color: white;
}

.mb-card-text-title {
    color: white;
}

.mb-top {
    background: #282A32;
}

svg {
    fill: #BBBBBC;
}

svg.round-icon {
    fill: #2D372F;
}

#main-icon {
    fill: #8ED788;
}

.mb-top-banner {
    fill: #282A32;
}

.mb-top-banner-text {
    fill: #fff;
}


.url-permission-bar #permission-req-bar-desc {
    color: white;
}
.url-permission-bar {
    background-color: #282A32;
    border: #1e2026 solid 1px;
}

.url-permission-bar .primary-button {
    background: #7A95E3;
    color: white;
}